.container {
  padding: 60px 20px;
  background: #f8fafc;
  text-align: center;
}

.heading {
  font-size: 32px;
  margin-bottom: 40px;
  color: #0f172a;
  text-align: center;
}

.card {
  background: #f5f5f5;
  padding: 25px;
  border-radius: 15px;
  max-width: 500px;
  margin: auto;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.review {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.6;
  color: #555;

  text-align: left;
}

.content {
  display: flex;
  flex-direction: column;
}

.name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.qualification {
  margin: 2px 0 0;
  font-size: 14px;
  color: #777;
  text-align: left; 
}

.content {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.topRow {
  display: flex;
  align-items: center;
}

.slide {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    text-align: center;
  }

  .image {
    margin-bottom: 10px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.textBlock {
  display: flex;
  flex-direction: column;
  margin-left: 20px; 
  text-align: right;  
}